@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #202020;
  --gray: #292929;
  --purple: #007bff;
  --indigo: #6610f2;
  --blue: #007bff;
  --dark-blue: #06305c;
  --cyan: #17a2b8;
  --light-gray: #f9f9f9ff;
  --rose-pink: #e072a4ff;
  --mint-green: #b0e298ff;
  --light-blue: #003d7c;
  --darker-blue: #00356c;
  --font-size: 1rem;
  --font-ratio: 1.4;
}

@media (max-width: 768px) {
  :root {
    --font-ratio: 1.15;
    --font-size: 1.2rem;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  color: var(--light-blue);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: calc(var(--font-size) * var(--font-ratio) * var(--font-ratio) * var(--font-ratio));
  font-weight: 600;
}

h2 {
  font-size: calc(var(--font-size) * var(--font-ratio) * var(--font-ratio));
  font-weight: 600;
}

h3 {
  font-size: calc(var(--font-size) * var(--font-ratio));
  font-weight: 600;
}

p,
li {
  font-size: calc(var(--font-size) * 1);
  color: var(--foreground);
  opacity: 0.8;
}

.alata {
  font-family: "Alata", sans-serif;
}

.mont {
  font-family: "Montserrat", sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.bg-indigo,
.bg-foreground,
.bg-gray,
.bg-purple,
.bg-blue,
.bg-cyan,
.bg-transparent,
.text-background {
  color: var(--background);
}
.bg-indigo *,
.bg-foreground *,
.bg-gray *,
.bg-purple *,
.bg-blue *,
.bg-cyan *,
.bg-transparent *,
.text-background * {
  color: var(--background);
}

.bg-background {
  color: var(--foreground);
}

.img-reflect {
  -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.landing {
  overflow-x: hidden;
  max-width: 100vw;
  background: linear-gradient(135deg, hwb(210 0% 20%/0.8), hwb(210 0% 20%/0.8), var(--darker-blue), var(--darker-blue));
}
.landing * {
  z-index: 1;
}

.animated-link-wrapper:hover .animated-link::before {
  transform: rotateZ(180deg);
}
.animated-link-wrapper:hover .animated-link::after {
  transform: rotateZ(-180deg);
}
.animated-link-wrapper .animated-link {
  position: relative;
  padding: 1.5rem;
}
.animated-link-wrapper .animated-link::before, .animated-link-wrapper .animated-link::after {
  content: "";
  position: absolute;
  border: 2px solid var(--light-blue);
  border-radius: 50%;
  transition: all 0.75s ease;
}
.animated-link-wrapper .animated-link::before {
  border-right: 2px solid transparent;
  width: 100%;
  height: 100%;
}
.animated-link-wrapper .animated-link::after {
  opacity: 0.75;
  border-left: 2px solid transparent;
  width: 80%;
  height: 80%;
}

.overlap-parent {
  box-sizing: border-box;
  display: grid;
  align-items: start;
}
.overlap-parent > * {
  grid-area: stack;
}

@keyframes fadeIn {
  from {
    transform: rotateX(90deg);
    opacity: 0;
  }
  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.hexagon-clip {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@keyframes moving-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.moving-gradient {
  background: linear-gradient(135deg, var(--purple), var(--blue), var(--cyan), var(--indigo), var(--purple));
  background-size: 400% 400%;
  animation: moving-gradient 5s linear infinite;
}

.lines-header {
  position: relative;
  display: flex;
  align-items: center;
}
.lines-header::before, .lines-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--foreground);
  opacity: 0.5;
}
.lines-header::before {
  right: 105%;
}
.lines-header::after {
  left: 105%;
}

html body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
html body section {
  flex-shrink: 0;
  padding: 1rem 8rem;
}
@media (max-width: 768px) {
  html body section {
    padding: 1rem 1rem;
  }
}/*# sourceMappingURL=globals.css.map */